-f git+git://github.com/Sugadove127/SandBox-Dify.git
add_numbers @ git+https://github.com/Sugadove127/SandBox-Dify.git@2fd30ff8e0c79dc6b77e9225a89bc0ea4990ae71
add_numbers @ git+https://github.com/Sugadove127/SandBox-Dify.git@main
add_numbers @ git+https://github.com/Sugadove127/SandBox-Dify.git@1.0.0
add_numbers @ git+https://github.com/Sugadove127/SandBox-Dify.git@release/tag/v0.1

pandas